@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Overpass:wght@400;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

#blogs{
    width: 100%;
    background-color: #c7f9cc;
    display: flex;
    flex-direction: column;
    align-items: center;

    >h2{
        font: 500 3rem "Roboto";
        margin: 2rem 0;
        color: #006400;
    }

    >.content{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        background-color: #fff;
        >div{
            width: 95%;
            border-radius: 10px;
            box-shadow: 4px 4px 8px #333;
            margin: 1rem;
            padding: 1rem;
            background-color: #c7f9cc;
            >h3{
                font-size: 1.8rem;
                color: #006400;
                margin: 1rem 0;
            }
            >p{
                font-size: 1.5rem;
            }
        }
    }
}